.buttonCover{
    /* position: absolute; */
    overflow: hidden;
    /* width: calc(initial + 40rem); */
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    backdrop-filter: blur(var(--glass-blur));
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.237);
     transition:
    transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1),
    backdrop-filter 300ms cubic-bezier(0.4, 0, 0.2, 1);
   /* transition:300ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.buttonCover:hover{
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    backdrop-filter: blur(calc(var(--glass-blur) * 0.7));
    scale: .99;
}
.buttonCover:active{
    backdrop-filter: blur(calc(var(--glass-blur) * 0.7));
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.150),
                inset -10px -10px 20px rgba(255, 255, 255, 0.057);  
    backdrop-filter: blur(calc(var(--glass-blur) * 0.3 ));
    /* scale: .98; */
    /* transform: scaleX(1.07) scaleY(.98); */
}

.buttonCover::after{
    content: "";
    width: calc(100% + 1rem);
    top: 0;
    right: 50%;
    transform: translateX(50%);
    height: 100%;
    border-radius: inherit;
    box-shadow: inset 0 0 var(--inset-strength) rgba(255, 255, 255, 0.49);
    position: absolute;
    transition-duration: 300ms;
    border-top: 1px solid rgba(255, 255, 255, 0.49);
    border-bottom: 1px solid rgba(255, 255, 255, 0.49);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttonCover:active::after{
    scale: 1.01;
    /* border: 1px solid rgba(15, 15, 15, 0.425); */
    box-shadow: inset 10px 0 90px rgba(207, 197, 197, 0.14);
    /* width: 110%; */
}

.buttonCover:hover::after{
    box-shadow: inset 10px 10px 20px rgba(255, 255, 255, 0.14);
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.34);
    border-bottom: 1px solid rgba(255, 255, 255, 0.34);
}